<!DOCTYPE html>
<html>
<title>All Devices</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

{{> sidebase}}

<div class="w3-container">
    <p>Each device with full details will be display here</p>

</div>


</body>
</html>
