<!DOCTYPE html>
<html>
<title>Device Map</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

{{> sidebase}}

<div class="w3-container">
    <p>Here we are going to integrate google map</p>
    <h5>Current year :{{currentYear}}</h5>

</div>


</body>
</html>
